<div class="navbar">
    <img a routerLink="/" src="/assets/Logo.png" alt="RRR-logo" width="250" style="margin: 10px;" />
  
    <ul class="navbar-links">
        <li><a routerLink="/home-user">Home</a></li>
        <li><a routerLink="/about-user">About</a></li>
        <li><a (click)="logout()">Logout</a></li>
    </ul>
</div>



<section>
    
<h2>Our Mission</h2>
<p>Our mission at RRR is to create a system where book and reading lovers can:</p>
<ul>
    <li><strong>Explore:</strong> Explore a wide range of books across genres, from timeless history to fiction to self-improvement books.</li>
    <li><strong>Review:</strong> Share your thoughts and opinions by evaluating and reviewing books that you liked or even books that you did not like.</li>
    <li><strong>Discussion:</strong> Participate in meaningful discussions with other users through comments and reviews.</li>
    <li><strong>Search:</strong> You can easily find information about the book you are interested in using our powerful search feature.</li>
</ul>

    <h2>What Sets Us Apart</h2>
    <ul>
        <li><strong>User-Friendly Interface:</strong> Our clean and intuitive design ensures a seamless browsing experience.</li>
        <li><strong>Community-Driven:</strong> RRR is built on the contributions of our passionate community. Your reviews and ratings shape the platform.</li>

    </ul>

    <h2>How to Get Started</h2>
    <ol>
        <li><strong>Sign Up:</strong> Create a free account to unlock personalized features, including the ability to rate and review Books.</li>
        <li><strong>Explore:</strong> Dive into our extensive books database and discover hidden gems.</li>
        <li><strong>Rate & Review:</strong> Share your opinions by giving Books a rating and leaving reviews. Don't forget to share comments </li>

    </ol>

    <h2>Contact Us</h2>
    <p>Are you having a problem or have questions or suggestions , Plase Contact us at <a href="Support@RRR-Community.com">Support@RRR-Community.com</a></p>
</section>

<app-footer></app-footer>