<div class="navbar">
    <img a routerLink="/" src="/assets/Logo.png" alt="-logo" width="250" style="margin: 10px;" />
  
    <ul class="navbar-links">
        <li><a routerLink="/home-user">Home</a></li>
        <li><a routerLink="/about-user">About</a></li>
        <li><a (click)="logout()">Logout</a></li>
    </ul>
  </div>


<div class="book-list-container">
    <h1 class="book">Welcome {{name}}</h1>
    <br/>
    <div class="book-list-wrapper">
        <div class="book-list-container">
            <div class="book-list">
                <div *ngFor="let book of books" class="book-list-item">
                    <img class="book-list-item-img" src="{{book.imgUrl}}" alt="{{book.name}}" />
                    <div class="book-list-item-details">
                        <span class="book-list-item-title">{{ book.title }}</span>
                        <p class="book-list-item-desc">{{ book.description}}</p>
                        
                        <button a routerLink="/book-details-user/{{book.idBook}}" class="book-list-item-button">Details</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <app-footer></app-footer>