<div class="navbar">
    <img a routerLink="/home-admin" src="/assets/Logo.png" alt="RRR-logo" width="250" style="margin: 10px; cursor: pointer;" />
  
    <ul class="navbar-links">
        <li><a routerLink="/home-admin">Home</a></li>
        <li><a routerLink="/about-admin">About</a></li>
        <li><a routerLink="/Users">All Users</a></li>
        <li><a routerLink="/addBook">Add Book</a></li>
        <li><a (click)="logout()">Logout</a></li>
    </ul>
  </div>
  
  <div class="book-page-container">
  <div class="poster-container">
      <img [src]="book?.imgUrl" alt="book Image">
  </div>
  <div class="details-and-reviews">
      <div class="book-details">
          <h2>Book: {{ book?.idBook }}</h2>
          <form [formGroup]="editForm">
              <br/>
             
              <p>Author:
                  <input *ngIf="!editMode" type="text" [value]="book?.author" disabled />
                  <input *ngIf="editMode" type="text" formControlName="author" />
              </p>
              <br/>
            
              <p>Title:
                  <input *ngIf="!editMode" type="text" [value]="book?.title" disabled />
                  <input *ngIf="editMode" type="text" formControlName="title" />
              </p>
              <br/>
              
              <p>Description:
                  <input *ngIf="!editMode" type="text" [value]="book?.description" disabled />
                  <input *ngIf="editMode" type="text" formControlName="story" />
              </p>
              <br/>
              <!-- Category Input -->
              <p>Category:
                  <input *ngIf="!editMode" type="text" [value]="book?.category" disabled />
                  <input *ngIf="editMode" type="text" formControlName="category" />
              </p>
              <br/>
              <!-- Edit Button -->
              <button *ngIf="!editMode" (click)="enterEditMode()">Edit Book</button>
              <!-- Save Button -->
              <button *ngIf="editMode" (click)="saveChanges()">Save Changes</button>
          </form>
        <button (click)="deleteBook()">Delete Book</button>
    </div>
    </div>
  </div>
  
  
  <app-footer></app-footer>