
  /* Reset styles */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-origin: padding-box;
    font-family: 'Times New Roman', Times, serif;
  }
  
  /* Book page container styles */
  .book-page-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    color: #7e4d23; 

  }
  
  .poster-container img {
    max-width: 200px;
    max-height: 300px;
    border: 1px solid   ;
    border-radius: 5px;
  }
  
  .details-and-reviews {
    width: 60%;
    
  }
  
  /* ... (other styles) ... */
  
  /* Book list styles */
  .book-list-container {
    padding: 0 20px;
    color: #7e4d23; 
  }
  
  .book-list,
  .book-list-item,
  .book-list-item-img,
  .book-list-item-title,
  .book-list-item-desc,
  .book-list-item-button,
  .book-list-title {
    color: #7e4d23; 
  }
  
  .book-list-wrapper {
    position: relative;
    overflow: hidden;
  }
  
  /* ... (other styles) ... */
  
  /* Navbar and links styles */
  .navbar {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    color: #7e4d23; 
  }
  
  .navbar-links,
  a {
    display: flex;
    list-style-type: none;
    font-size: 20px;
    margin: 20px;
    margin-top: 20px;
    color: var(--primary-color);
    text-decoration: none;
    color: #7e4d23; 
  }
  
  /* ... (other styles) ... */
  